.App {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  background-color: #f0f0f0;
  font-weight: bold;
}

button.active {
  background-color: #61dafb;
  color: white;
}

input {
  padding: 10px;
  width: calc(100% - 22px);
  margin-bottom: 10px;
  box-sizing: border-box;
}

.tab-content {
  margin-top: 20px;
}

.output {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #f4f4f4;
  text-align: left;
}

.recipe-text {
  max-width: 100%; /* Adjust based on your specific layout needs */
  padding: 10px;
  box-sizing: border-box; /* Ensure padding is included in width */
  word-wrap: break-word;
  overflow-y: auto; /* Allows scrolling for excessive text */
  font-size: calc(8px + 0.5vw); /* Responsive font size */
  line-height: 1.6; /* Improves readability */
  border: 1px solid #ccc; /* Optional: adds a border around the text container */
  margin-bottom: 20px; /* Space below the text container */
}

.image-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
